<h1>Social Cloud</h1>

<% if current_user %>
  <p><%= current_user.email %> is signed in.</p>

  <!-- Facebook -->
  <% if current_user.fb_access_token %>
    <hr />
    <h2>Facebook QR</h2>
    <p id="fb-token" data-token="<%= current_user.fb_access_token %>"></p>
  <% else %>
    <p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
  <% end %>

  <!-- Google -->
  <% if current_user.google_access_token %>
    <hr />
    <h2>Google QR</h2>
    <p id="google-token" data-token="<%= current_user.google_access_token %>"></p>
  <% else %>
    <p><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></p>
  <% end %>

  <%= link_to "Log out", destroy_user_session_path, method: :delete %>

<% else %>
  <p>Not signed in.</p>
  <p><%= link_to "Sign in with email", new_user_registration_path %></p>
  <p><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></p>
  <p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
  <p><%= link_to "Log in", new_user_session_path %></p>
<% end %>
